<!-- <img src="http://static.sbt.com.br/media/playlist/20100209115700/20100209115717/20151014113449.jpg" alt=""> -->
<%= render "shared/banner" %>

<h2 align="center">Veja os cocktails jรก criados</h2>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.photo.blank? ? "http://static.sbt.com.br/media/playlist/20100209115700/20100209115717/20151014113449.jpg" : cl_image_path(cocktail.photo, height: 300, width: 400, crop: :fill) %>')">
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <%= link_to '', cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<br>
<br>
<br>
